footer
    div
        img(src="../../Images/Image.jpg", alt="")
        h1 
            a(href="") X 
            span Library
    div 
        ul 
            li 
                a(href="") Team
            li 
                a(href="") Services
            li 
                a(href="") Services
            li 
                a(href="") Services
    div 
        ul 
            li 
                a(href="") Home
            li 
                a(href="") Library
            li 
                a(href="") Contact
            li 
                a(href="") About
    div
        img(src="../../Images/Image.jpg", alt="")
        img(src="../../Images/Image.jpg", alt="")
        img(src="../../Images/Image.jpg", alt="")
        img(src="../../Images/Image.jpg", alt="")
        ul
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-facebook")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-twitter")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-linkedin")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-gamil") 
    div CopyRights Reseved @ 2024 by 
        span E.Ahmed Osama