footer
    div
        img(src="/Library-System-/dist/Images/X.png", alt="")
        h1 
            a(href="/Library-System-/dist/html/Fixed/Home.html") X 
            span Library
    div 
        ul 
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Team") Team
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Services") Services
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#ContactUs") Contact Us
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#AboutUs") About Us
    div 
        ul 
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html") Home
            li 
                a(href="/Library-System-/dist/html/Fixed/Library.html") Library
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Team") Our Team 
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Writers") Populer Writers 
    div
        img(src="/Library-System-/dist/Images/Book1.jpg", alt="")
        img(src="/Library-System-/dist/Images/Book2.jpg", alt="")
        img(src="/Library-System-/dist/Images/Book3.jpeg", alt="")
        img(src="/Library-System-/dist/Images/Book4.peg", alt="")
        ul
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-facebook")
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-twitter")
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-linkedin")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-envelope") 
    div CopyRights Reseved @ 2024 by 
        span E.Ahmed Osama