nav 
    div 
        img(src="", alt="")
        h1 
            a(href="/Library-System-/dist/html/Fixed/Home.html") X 
            span Library
    div(id="NavBar")
        ul 
            li 
                a(href="/Library-System-/dist/html/Fixed/Library.html") Library
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#ContactUs") Contact
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#AboutUs") About
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Team") Team
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Services") Services
            li 
                a(href="/Library-System-/dist/html/Fixed/Home.html#Writers") Writers
                //a(href="/Library-System-/dist/html/Reader/Cart.html") Cart
    div 
        ul 
            li(id="Icon")
                i(class="fa-solid fa-2x fa-bars")
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-facebook")
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-twitter")
            li 
                a(href="")
                    i(class="fa-brands fa-1x fa-linkedin")
            li 
                a(href="")
                    i(class="fa-solid fa-envelope")
            li 
                span 
                    i(class="fa-solid fa-right-to-bracket")
                    p 
                        a(href="/Library-System-/dist/html/Fixed/Login.html") Login
            li
                span 
                    i(class="fa-regular fa-user")
                    p 
                        a(href="/Library-System-/dist/html/Reader/Register.html") SignIn
