nav 
    div 
        img(src="", alt="")
        h1 
            a(href="") X 
            span Library
    div 
        ul 
            li 
                a(href="Library.html") Library
            li 
                a(href="") Contact
            li 
                a(href="") About
            li 
                a(href="") Team
            li 
                a(href="") Services
            li 
                a(href="../Reader/Cart.html") Cart
    div 
        ul 
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-facebook")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-twitter")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-linkedin")
            li 
                a(href="")
                    i(class="fa-solid fa-1x fa-gamil")
            li 
                span 
                    i(class="fa-solid fa-1x fa-gamil")
                    p 
                        a(href="../Fixed/Login.html") Login
            li
                span 
                    i(class="fa-solid fa-1x fa-gamil")
                    p 
                        a(href="../Reader/Register.html") SignIn
