extends Structure.pug 
block Page_Title
    title Home
block Page_Content
    header 
        h1 Header
    section 
        h1 Services 
    section 
        h1 Most Sold Books
    section
        h1 Most Populer Writers
    section  
        h1 About Us 
    section 
        h1 Team 
    section 
        h1 Stats 
    section 
        h1 Contact Us 
