extends Structure.pug 
block Page_Title
    title Home
block Page_Content
    header
        h1 More Reading More Knowledge
        button Be More Confident
    section(class="Home Services")
        h1 Services
        div 
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 Fast Delivery
                span Fast Delivery Fast Delivery Fast Delivery Fast Delivery Fast Delivery Fast Delivery
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 Metaphor
                span Metaphor Metaphor Metaphor Metaphor Metaphor Metaphor Metaphor Metaphor Metaphor
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 Sales Services
                span Sales Services Sales Services Sales Services Sales Services Sales Services Sales Services
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 Substituition
                span Substituition Substituition Substituition Substituition Substituition Substituition
    section(class="Home MostSoldBooks")
        h1 Most Sold Books
        div
            div
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                    button Add To Cart
                    button  
                        a(href="../Fixed/ShowBook.html") More
            div
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                    button Add To Cart
                    button  
                        a(href="../Fixed/ShowBook.html") More
            div
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                    button Add To Cart
                    button  
                        a(href="../Fixed/ShowBook.html") More
            div
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                    button Add To Cart
                    button  
                        a(href="../Fixed/ShowBook.html") More
    section(class="Home MostPopulerWriters")
        h1 Most Populer Writers
        div
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span 50 Books - 
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span 50 Books - 
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span 50 Books - 
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span 50 Books - 
                span 1950:1990
    section(class="Home AboutUs")
        h1 Contact Us
        div
            div
                img(src="../../Images/Books1.jpg", alt="")
            div It’s a great example of how to use such a page as a sort of pre-sales platform, It’s a great example of how to use such a page as a sort of pre-sales platform, It’s a great example of how to use such a page as a sort of pre-sales platform, It’s a great example of how to use such a page as a sort of pre-sales platform, It’s a great example of how to use such a page as a sort of pre-sales platform.
    section(class="Home Team")
        h1 Team 
        div
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span CEO
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span IT Engineer 
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span Main Manager
                span 1950:1990
            div 
                img(src="../../Images/Books1.jpg", alt="")
                h3 Zaih Younes
                span Sales Manager
                span 1950:1990
    section(class="Home Stats")
        div 
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 +200K
                span Books
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 +100K
                span Writers
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 +250K
                span Users
            div 
                i(class="fa-solid fa-3x fa-facebook")
                h3 +10K
                span Team Members
    section(class="Home ContactUs")
        h1 Contact Us
        div
            div
                img(src="../../Images/Books1.jpg", alt="")
            div 
                form(action="")
                    input(type="text" placeholder="Username" required)
                    textarea(name="", cols="30", rows="10")
                    input(type="submit", value="Send")
