extends Structure.pug 
block Page_Title
    title Library
block Page_Content
    section(class="Library")
        div 
            div
                h1 Our Books
            div 
                ul 
                    li All 
                    li Romantic 
                    li Reality 
                    li Stories 
                    li Development
            div
                select 
                    option(value="Most Sold") Most Sold
                    option(value="Recantly Added")  Recantly Added
                    option(value="Most Readed")  Most Readed
                    option(value="Lowest Price")  Lowest Price
                    option(value="Highest Price")  Highest Price
        div 
            img(src="/Library-System-/dist/Images/Book1.jpg", alt="")
            div
                h2 Book Name:
                    span Don't Try
                h2 Writer Name: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Rateing
                    span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                button Add To Cart
                button 
                    a(href="/Library-System-/dist/html/Fixed/ShowBook.html") More
        div 
            img(src="/Library-System-/dist/Images/Book2.jpg", alt="")
            div
                h2 Book Name:
                    span Don't Try
                h2 Writer Name: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Rateing
                    span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                button Add To Cart
                button 
                    a(href="/Library-System-/dist/html/Fixed/ShowBook.html") More
        div 
            img(src="/Library-System-/dist/Images/Book3.jpeg", alt="")
            div
                h2 Book Name:
                    span Don't Try
                h2 Writer Name: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Rateing
                    span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                button Add To Cart
                button  
                    a(href="/Library-System-/dist/html/Fixed/ShowBook.html") More
        div 
            img(src="/Library-System-/dist/Images/Book4.png", alt="")
            div
                h2 Book Name:
                    span Don't Try
                h2 Writer Name: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Rateing
                    span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                button Add To Cart
                button  
                    a(href="/Library-System-/dist/html/Fixed/ShowBook.html") More
        div 
            img(src="/Library-System-/dist/Images/Book1.jpg", alt="")
            div
                h2 Book Name:
                    span Don't Try
                h2 Writer Name: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Rateing
                    span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                button Add To Cart
                button  
                    a(href="/Library-System-/dist/html/Fixed/ShowBook.html") More