extends Structure.pug
block Page_Title
    title Show Book
block Page_Content 
    section(class="ShowBook")
        div 
            img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
        div 
            h2 Book Name:
                span Don't Try
            h2 Writer Name: 
                span Steve Jobs
            h2 Price:
                span 400$
            h2 Rateing
                span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            h2 Book Description:
                span Steve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve Jobs JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve Jobs JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve JobsSteve Jobs
            
            button Add To Cart