doctype 
html(len="en")
    head 
        meta(charset="UTF-8")
        link(rel="stylesheet", href="../../Css/all.css")
        link(rel="stylesheet", href="../../Css/all.min.css")
        link(rel="stylesheet", href="../../Css/main.css")
        block Page_Title
            title
    body
        div(class="ANavbar") 
            div 
                div   
                    //i(class="fa-solid fa-3x fa-star")
                    //span LogOut
            div 
                h3 Ahmed Osama 
                img(src="/Library-System-/dist/Images/Image.jpg")
        aside  
            ul 
                li
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") X Library
                li
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Books
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Users
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Orders
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Add Book 
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Edit Book
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Remove Book
                li
                li 
                    i(class="fa-solid fa-1x fa-star")
                    a(href="") Settings

        block Page_Content
        script(src="../../Js/all.js")
        script(src="../../Js/all.min.js")
        script(src="../../Js/main.js")