extends Fixed/Structure.pug
block Page_Title
    title Admin DashBoard
block Page_Content 
    section(class="AdminShowUsers")
        div 
            h1 Our Customes
        div 
            img(src="../../Images/Man.jpg", alt="")
            div
                h2 Name:
                    span Younes Mousa
                h2 Email: 
                    span Younes_Mousa@gmail.com
                h2 Address: 
                    span 100 Haram ST. Giza
                h2 Mobile:
                    span 0100055332
                h2 Orders:
                    span 4
                h2 Avg. Price:
                    span 4150
            div
                button Block 
                button Remove
        div 
            img(src="../../Images/Man.jpg", alt="")
            div
                h2 Name:
                    span Younes Mousa
                h2 Email: 
                    span Younes_Mousa@gmail.com
                h2 Address: 
                    span 100 Haram ST. Giza
                h2 Mobile:
                    span 0100055332
                h2 Orders:
                    span 4
                h2 Avg. Price:
                    span 4150
            div
                button Block 
                button Remove
        div 
            img(src="../../Images/Man.jpg", alt="")
            div
                h2 Name:
                    span Younes Mousa
                h2 Email: 
                    span Younes_Mousa@gmail.com
                h2 Address: 
                    span 100 Haram ST. Giza
                h2 Mobile:
                    span 0100055332
                h2 Orders:
                    span 4
                h2 Avg. Price:
                    span 4150
            div
                button Block 
                button Remove
        div 
            img(src="../../Images/Man.jpg", alt="")
            div
                h2 Name:
                    span Younes Mousa
                h2 Email: 
                    span Younes_Mousa@gmail.com
                h2 Address: 
                    span 100 Haram ST. Giza
                h2 Mobile:
                    span 0100055332
                h2 Orders:
                    span 4
                h2 Avg. Price:
                    span 4150
            div
                button Block 
                button Remove