extends Fixed/Structure.pug
block Page_Title
    title Admin DashBoard
block Page_Content 
    section(class="AdminShowBooks")
        div 
            div 
                input(type="search", name="" placeholder="Search Book")
            button 
                a(href="AddBook.html") Add New Book
        div 
            img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button Show 
                button Edit 
                button Add 
                button Remove
        div 
            img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button Show 
                button Edit 
                button Add 
                button Remove
        div 
            img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button Show 
                button Edit 
                button Add 
                button Remove