extends Fixed/Structure.pug
block Page_Title
    title Admin DashBoard
block Page_Content 
    section(class="AdminShowBooks")
        div 
            div 
                input(type="search", name="" placeholder="Search Book")
            button 
                a(href="AddBook.html") Add New Book
        div 
            img(src="../../Images/Book1.jpg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button  
                    a(href="ShowBook.html") Show  
                button 
                    a(href="EditBook.html") Edit 
                button 
                    a(href="IncreaseBook.html") Add 
                button Remove
        div 
            img(src="../../Images/Book2.jpg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button  
                    a(href="ShowBook.html") Show  
                button 
                    a(href="EditBook.html") Edit  
                button 
                    a(href="IncreaseBook.html") Add 
                button Remove
        div 
            img(src="../../Images/Book3.jpeg", alt="")
            div
                h2 Title:
                    span Don't Try
                h2 Author: 
                    span Steve Jobs
                h2 Price:
                    span 400$
                h2 Pages:
                    span 400 P
                h2 Amount:
                    span 40
                h2 Rateing
                    span 
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-solid fa-1x fa-star")
                        i(class="fa-regular fa-1x fa-star")
            div
                button 
                    a(href="ShowBook.html") Show 
                button
                    a(href="EditBook.html") Edit  
                button 
                    a(href="IncreaseBook.html") Add  
                button Remove