extends ../Fixed/Structure.pug
block Page_Title
    title Cart
block Page_Content 
    section
        h1 Selected Products 
        div 
            img(src="", alt="")
            div
                h2 Book Name 
                h2 Writer Name 
                h2 Price
                h2 Rateing 
            div 
                div
                    span 1
                    i(class="")
                    i(class="")
                div 
                    button Cancel 
                    button Replace
        div 
            img(src="", alt="")
            div
                h2 Book Name 
                h2 Writer Name 
                h2 Price
                h2 Rateing 
            div 
                div
                    span 1
                    i(class="")
                    i(class="")
                div 
                    button Cancel 
                    button Replace
        div 
            img(src="", alt="")
            div
                h2 Book Name 
                h2 Writer Name 
                h2 Price
                h2 Rateing 
            div 
                div
                    span 1
                    i(class="")
                    i(class="")
                div 
                    button Cancel 
                    button Replace
        div 
            img(src="", alt="")
            div
                h2 Book Name 
                h2 Writer Name 
                h2 Price
                h2 Rateing 
            div 
                div
                    span 1
                    i(class="")
                    i(class="")
                div 
                    button Cancel 
                    button Replace