extends ../Fixed/Structure.pug
block Page_Title
    title Cart
block Page_Content 
    section(class="Cart")
        div
            h1 Selected Products 
        div
            div 
                img(src="/Library-System-/dist/Images/Book3.jpeg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-plus")
                        i(class="fa-solid fa-1x fa-minus")
                    button Cancel 
                    button Replace
                
                        
            div 
                img(src="/Library-System-/dist/Images/Book2.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-plus")
                        i(class="fa-solid fa-1x fa-minus")
                    button Cancel 
                    button Replace
            div 
                img(src="/Library-System-/dist/Images/Book1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-solid fa-1x fa-star")
                            i(class="fa-regular fa-1x fa-star")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-plus")
                        i(class="fa-solid fa-1x fa-minus")
                    button Cancel 
                    button Replace
        Button 
            a(href="/Library-System-/dist/html/Reader/MakeOrder.html") Make Order