extends ../Fixed/Structure.pug
block Page_Title
    title Mofidy Order
block Page_Content 
    section(class="Cart")
        div
            h1 Selected Products 
        div
            div 
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-facebook")
                        i(class="fa-solid fa-1x fa-facebook")
                    button Cancel 
                    button Replace
                
                        
            div 
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-facebook")
                        i(class="fa-solid fa-1x fa-facebook")
                    button Cancel 
                    button Replace
            div 
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-facebook")
                        i(class="fa-solid fa-1x fa-facebook")
                    button Cancel 
                    button Replace
            div 
                img(src="../../Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Writer Name: 
                        span Steve Jobs
                    h2 Price:
                        span 400$
                    h2 Rateing
                        span 
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                            i(class="fa-solid fa-1x fa-facebook")
                div
                    span 1
                    div
                        i(class="fa-solid fa-1x fa-facebook")
                        i(class="fa-solid fa-1x fa-facebook")
                    button Cancel 
                    button Replace
        Button 
            a(href="../Reader/MakeOrder.html") Modify Order