extends ../Fixed/Structure.pug 
block Page_Title
    title Register
block Page_Content
    section(class="Register")
        div
            h1 Create New Account
        div
            form(action="")
                input(type="text" placeholder="First Name" required)
                input(type="text" placeholder="Last Name" required)
                input(type="text" placeholder="Address" required)
                input(type="text" placeholder="Mobile" required)
                input(type="email" placeholder="Your Email" required)
                input(type="password" placeholder="Enter New Password" required)
                input(type="password" placeholder="Confirm The Password" required)
                div 
                    input(type="checkbox", name="")
                    label Remeber me
                input(type="submit", value="Register")