extends ../Fixed/Structure.pug 
block Page_Title
    title Register
block Page_Content
    section 
        div 
            img(src="", alt="")
        div 
            form(action="")
                input(type="text" placeholder="Username")
                input(type="text" placeholder="Address")
                input(type="text" placeholder="Mobile")
                input(type="email" placeholder="Your Email")
                input(type="password", name="")
                input(type="checkbox", name="")
                label Remeber me
                input(type="submit", value="")
            a(href="") Forget Password 