extends ../Fixed/Structure.pug
block Page_Title
    title Show Order
block Page_Content 
    section(class="ShowOrder")
        ul 
            li
                h1 the Matched Books 
            li 
                img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Price:
                        span 300 $
                    h2 Amount: 
                        span 2
            li
                img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Price:
                        span 300 $
                    h2 Amount: 
                        span 2
            li
                img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
                div
                    h2 Book Name:
                        span Don't Try
                    h2 Price:
                        span 300 $
                    h2 Amount: 
                        span 2
            li
                img(src="/Library-System-/dist/Images/Books1.jpg", alt="")
                div 
                    h2 Book Name:
                        span Don't Try
                    h2 Price:
                        span 300 $
                    h2 Amount: 
                        span 2
            li
                img(src="/Library-System-/dist/html/Images/Books1.jpg", alt="")
                div 
                    h2 Book Name:
                        span Don't Try
                    h2 Price:
                        span 300 $
                    h2 Amount: 
                        span 2
        div 
            h2 Order ID: 
                span XLSDE1232
            h2 Name:
                span Zian Ahmed Moussa
            h2 Address:
                span 24 Elharam ST. Giza
            h2 Phone:
                span +201000003333
            h2 Book's Number:
                span 10
            h2 Order Date:
                span 10/2/2020
            h2 Reciving Date:
                span 12/2/2020
            h2 Total Price:
                span 3000$
            h2 Books Number:
                span 10
            