extends ../Fixed/Structure.pug 
block Page_Title
    title Show Orders
block Page_Content
    section(class="ShowOrders")
        div
            h1 Orders History
        div 
            div 
                h2 Order's ID:
                    span XL12365
                h2 Book's Number:
                    span 10
                h2 Order Date:
                    span 10/2/2020
                h2 Reciving Date:
                    span 12/2/2020
                h2 Total Price:
                    span 3000$
                h2 Payment Method:
                    span Cash 
            div 
                button Review
                div    
                    button Cancel 
                    button Modify
        div 
            div 
                h2 Order's ID:
                    span XL12365
                h2 Book's Number:
                    span 10
                h2 Order Date:
                    span 10/2/2020
                h2 Reciving Date:
                    span 12/2/2020
                h2 Total Price:
                    span 3000$
                h2 Payment Method:
                    span Cash 
            div 
                button 
                    a(href="/Library-System-/dist/html/Reader/ShowOrder.html") Review
                button Delete
        div 
            div 
                h2 Order's ID:
                    span XL12365
                h2 Book's Number:
                    span 10
                h2 Order Date:
                    span 10/2/2020
                h2 Reciving Date:
                    span 12/2/2020
                h2 Total Price:
                    span 3000$
                h2 Payment Method:
                    span Cash 
            div 
                button Review 
                button Delete           