@use 'Mixins.scss' as *;
@use 'Variables.scss' as *;

.Cart{
    >div{
        &:first-of-type{
            display: flex;
            justify-content: center;
            h1{
                @extend %Title;
            }
        }
        &:last-of-type{
            display: grid;
            @include MediaSizes-1-Sections(Large){}
            @include MediaSizes-1-Sections(Medium){}
            @include MediaSizes-1-Sections(Small){}
            @include MediaSizes-1-Sections(Mini){}
            >div{
                display: grid;
                grid-template-columns: 20% 40% 40%;
                >img{
                    width: 100%;
                    height: 100%;
                }
                >div{
                    padding: 20px;
                    background-color: $NoneDarkColor;
                    &:nth-last-child(2){
                        display: grid;
                        @include MediaSizes-2-Sections(Large){}
                        @include MediaSizes-2-Sections(Medium){}
                        @include MediaSizes-2-Sections(Small){}
                        @include MediaSizes-2-Sections(Mini){}
                        >h2{
                            color: $MidDarkColor;
                            >span{
                                color: $LowDarkColor;
                                padding-left: 20px;
                                >svg{
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    &:last-of-type{
                        display: grid;
                        @include MediaSizes-2-Sections(Large){}
                        @include MediaSizes-2-Sections(Medium){}
                        @include MediaSizes-2-Sections(Small){}
                        @include MediaSizes-2-Sections(Mini){}
                        justify-content: space-around;
                        align-items: center;
                    }
                    >button{
                        &:first-of-type{
                            @extend %DarkButton;
                        }
                        &:last-of-type{
                            @extend %DarkButton;
                        }
                    }
                    >span{
                        font-size: xx-large;
                        font-weight: 900;
                    }
                    >div{
                        >svg{
                            padding: 5px;
                            margin-left: 5px;
                            @extend %DarkButton;
                        }
                    }
                }
            }
        }
    }
    text-align: center;
    >button{
        @extend %DarkButton;
        margin: 50px auto;
    }
}