@use "Mixins.scss" as *;
@use "Variables.scss" as *;
body{
    
    @include MediaSizes(Large){
        .ANavbar{
            width: 80%;
            text-align: center;
            position:fixed;
            top: 0;
            right: 0;
        }
        aside{
            width: 20%;
            position:fixed;
            height: 100%;
            top: 0;
            left: 0;
            ul{
                height: 100%;
                display: grid;
                grid-template-rows: repeat(5,1fr);
            }
        }
        .Admin{
            width: 80%;
            margin-top:7%;
            float: right;
        }
    }
    @include MediaSizes(Medium){
        .ANavbar{
            width: 85%;
            position:fixed;
            top: 0;
            right: 0;
        }
        aside{
            width: 15%;
            position:fixed;
            top: 0;
            left: 0;
            height: 100%;
            ul{
                height: 100%;
                display: grid;
                grid-template-rows: repeat(5,1fr);
            }
        }
        .Admin{
            width: 85%;
            margin-top:7% ;
            float: right;
        }
    }
    @include MediaSizes(Small){
        .ANavbar{
            width: 100%;
            position:fixed;
            top: 0%;
            left: 0;
        }
        aside{
            width: 100%;
            position:fixed;
            top: 12%;
            left: 0;
            ul{
                height: 100%;
                display: grid;
                grid-template-columns: repeat(5,1fr);
            }
        }
        .Admin{
            margin-top:30% ;
        }
    }
    @include MediaSizes(Mini){
        .ANavbar{
            width: 100%;
            position:fixed;
            top: 0%;
            left: 0;
        }
        aside{
            width: 100%;
            position:fixed;
            top: 12%;
            left: 0;
            ul{
                height: 100%;
                display: grid;
                grid-template-columns: repeat(5,1fr);
            }
        }
        .Admin{
            margin-top:35%;
        }
    }
    .ANavbar{
        background-color: $NoneDarkColor;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div{
            img{
                height: 70px;
                width: 70px;
                border-radius: 100%;
                display: inline-block;
            }
            h3{
                display: inline-block;
                margin: auto 10px;
                @extend %LinkStyle;
            }
            &:last-of-type{
               display: flex;
               justify-content: center;
            }
        }
    }
    aside{
        background-color: $NoneDarkColor;
        ul{
            list-style: none;
            padding: 0;
            gap: 15px;
            li{
                @extend %LinkStyle;
                text-align: center;
                a{
                    text-decoration: none;
                    color: inherit;
                    transition: $TransitionTime;
                    display: block;
                }
                svg{
                    margin: 10px;
                }
            }
        }
    }
}
