@use "Mixins.scss" as *;
@use "Variables.scss" as *;

.Library{
    display: grid;
    gap: 20px;
    @include MediaSizes-4-Sections(Large){
        >div{
            &:first-of-type{
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }
    }
    @include MediaSizes-4-Sections(Medium){
        >div{
            &:first-of-type{
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
    }
    @include MediaSizes-4-Sections(Small){
        >div{
            &:first-of-type{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }
    @include MediaSizes-4-Sections(Mini){}
    >div{
        &:first-of-type{
            display: grid;
            justify-items: center;
            @include MediaSizes-2-Sections(Large){
                >div{
                    &:first-of-type{
                        grid-column-start: 1;
                        grid-column-end: 5;
                    }
                }
            }
            @include MediaSizes-2-Sections(Medium){
                >div{
                    &:first-of-type{
                        grid-column-start: 1;
                        grid-column-end: 5;
                    }
                }
            }
            @include MediaSizes-2-Sections(Small){
                >div{
                    &:first-of-type{
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                }
            }
            @include MediaSizes-2-Sections(Mini){}
            >div{
                align-self: baseline;
                >h1{
                    @extend %Title;
                }
                >ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    >li{
                        cursor: pointer;
                        margin: 5px;
                        @extend %LightButton;
                        padding: 10px;
                        &:first-of-type{
                            @extend %DarkButton;
                            padding: 10px;
                        }
                    }
                }
                >select{
                    @extend %LightButton;
                    padding: 10px;
                    text-transform: capitalize;
                }
            }
        }
        &:not(&:first-of-type){
            border: 3px solid $NoneDarkColor;
            padding: 10px;
            border-radius: $radius;
            margin: 20px;
            height: fit-content;
            >img{
                width: 100%;
                height: 60%;
                border-radius: $radius;
            }
            >div{
                >h2{
                    color: $MidDarkColor;
                    >span{
                        color: $LowDarkColor;
                        padding-left: 20px;
                        >svg{
                            margin-left: 5px;
                        }
                    }
                }
                >button{
                    &:first-of-type{
                        @extend %LightButton;
                        float: right;
                    }
                    &:last-of-type{
                        @extend %DarkButton;
                        float: left;
                    }
                    padding: 10px !important;
                }
            }
        }
    }
}