@use "Mixins.scss" as *;
@use "Variables.scss" as *;

.Login{
    display: grid;
    @include MediaSizes-2-Sections(Large){
        >div{
            &:first-of-type{
               grid-column-start: 1; 
               grid-column-end: 5; 
            }
        }
    }
    @include MediaSizes-2-Sections(Medium){
        >div{
            &:first-of-type{
               grid-column-start: 1; 
               grid-column-end: 3; 
            }
        }
    }
    @include MediaSizes-2-Sections(Small){
        >div{
            &:first-of-type{
               grid-column-start: 1; 
               grid-column-end: 2; 
            }
        }
    }
    @include MediaSizes-2-Sections(Mini){}
    >div{
        >h1{
            @extend %Title;
            margin: 20px auto;
        }
        line-height: 2;
        img{
            width: 100%;
            height: 100%;
        }
        form{
            input{
                &:not([type="checkbox"]){
                    display: block;
                    @extend %input;
                }
                &[type="submit"]{
                    width: fit-content;
                    @extend %inputSubmit;
                }
                &:last-of-type{
                    @extend %DarkButton;
                }
            }
            >div{
                width: 70%;
                margin: 30px 20%;
                text-align: left;
                a{
                    margin-left: 50px;
                }
            }
        }
    }
}
