@use "Mixins.scss" as *;
@use "Variables.scss" as *;
.ShowOrders{
    >div{
        &:first-of-type{
            >h1{
                @extend %Title;
                margin: 40px auto;
                grid-column-start:1;
                grid-column-end: 3;
            }
        }
        display: grid;
        @include MediaSizes-2-Sections(Large){}
        @include MediaSizes-2-Sections(Medium){}
        @include MediaSizes-2-Sections(Small){}
        @include MediaSizes-2-Sections(Mini){}
        &:not(&:first-of-type){
            background-color: $NoneDarkColor;
            margin: 10px auto;
        }
        >div{
            display: grid;
            @include MediaSizes-2-Sections(Large){}
            @include MediaSizes-2-Sections(Medium){}
            @include MediaSizes-2-Sections(Small){}
            @include MediaSizes-2-Sections(Mini){}
            @extend %NestedTest;
            button{
                @extend %LightButton;
            }
            &:first-of-type{
                padding-left: 20px;
            }
            &:last-of-type{
                align-items: center;
                justify-items: center;
            }
        }
    }
}
