@use "Mixins.scss" as *;
@use "Variables.scss" as *;
.ShowOrder{
    display: grid;
    @include MediaSizes-2-Sections(Large){}
    @include MediaSizes-2-Sections(Medium){}
    @include MediaSizes-2-Sections(Small){}
    @include MediaSizes-2-Sections(Mini){}
    gap: 20px;
    padding: 20px;
    >ul{
        display: grid;
        @include MediaSizes-3-Sections(Large){
            >li{
                &:first-of-type{
                    grid-column-start: 1;
                    grid-column-end: 4;
                }
            }
        }
        @include MediaSizes-3-Sections(Medium){
            >li{
                &:first-of-type{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }
        @include MediaSizes-3-Sections(Small){}
        @include MediaSizes-3-Sections(Mini){}
        gap: 20px;
        list-style: none;
        >li{
            border-radius: $radius;
            height: fit-content;
            &:first-of-type{
                h1{
                    @extend %Title;
                }
            }
            >img{
                width: 100%;
                height: 50%;
            }
            >div{
                @extend %NestedTest;
            }
        }
    }
    >div{
        display: grid;
        @include MediaSizes-2-Sections(Large){}
        @include MediaSizes-2-Sections(Medium){}
        @include MediaSizes-2-Sections(Small){}
        @include MediaSizes-2-Sections(Mini){}
        @extend %NestedTest;
        align-items: center;
    }
}