@use "Mixins.scss" as *;
@use "Variables.scss" as *;
.AdminShowUsers{
    margin: 10px;
    display: grid;
    @include MediaSizes-1-Sections(Large){}
    @include MediaSizes-1-Sections(Medium){}
    @include MediaSizes-1-Sections(Small){}
    @include MediaSizes-1-Sections(Mini){}
    >div{
        &:first-of-type{
            >h1{
                @extend %Title;
                margin: 40px auto;
                grid-column-start:1;
                grid-column-end: 3;
            }
        }
        margin: 10px auto;
        &:not(&:first-of-type){
            display: grid;
            @include MediaSizes(Large){
                grid-template-columns: 20% 40% 40%;
            }
            @include MediaSizes(Medium){
                grid-template-columns: 20% 40% 40%;
            }
            @include MediaSizes(Small){
                grid-template-columns: 33.333% 33.333% 33.333%;
            }
            @include MediaSizes(Mini){
                grid-template-columns: 100%;
            }
            >img{
                width: 100%;
                height: 100%;
            }
            >div{
                padding: 20px;
                background-color: $AvgDarkColor;
                &:nth-last-child(2){
                    display: grid;
                    @include MediaSizes-2-Sections(Large){}
                    @include MediaSizes-2-Sections(Medium){}
                    @include MediaSizes-2-Sections(Small){}
                    @include MediaSizes-2-Sections(Mini){}
                    @extend %NestedTest;
                }
                &:last-of-type{
                    display: grid;
                    @include MediaSizes-2-Sections(Large){}
                    @include MediaSizes-2-Sections(Medium){}
                    @include MediaSizes-2-Sections(Small){}
                    @include MediaSizes-2-Sections(Mini){}
                    justify-items: center;
                    align-items: center;
                }
                >button{
                    @extend %DarkButton;
                }
            }
        }
    }
}