$HighDarkColor: #0D1B2A;
$LowDarkColor: #1B263B;
$MidDarkColor: #415A77;
$LowDarkColor: #778DA9;
$NoneDarkColor: #E0E1DD;
$TransitionTime: 1s;
$radius:5px;
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
@mixin Cycle($Direction){
    @keyframes CycleLoop{
        0%{
            @if $Direction == after{
                top: -10px;
                left: -10px;
            }
            @else{
                bottom: -10px;
                right: -10px;
            }
        }
        20%{
            @if $Direction == after{
                top: -10px;
                left: 50%;
            }
            @else{
                bottom: -10px;
                right: 50%;
            }
        }
        40%{
            @if $Direction == after{
                top: -10px;
                left: 100%;
            }
            @else{
                bottom: -10px;
                right: 100%;
            }
        }
        60%{
            @if $Direction == after{
                top: -10px;
                left: 50%;
            }
            @else{
                bottom: -10px;
                right: 50%;
            }
        }
        80%{
            @if $Direction == after{
                top: -10px;
                left: -10px;
            }
            @else{
                bottom: -10px;
                right: -10px;
            }
        }
        100%{
            @if $Direction == after{
                top: 100%;
                left: -10px;
            }
            @else{
                bottom: 100%;
                right: -10px;
            }
        }
    }
    animation-name: CycleLoop;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
%Title{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: $LowDarkColor;
    position: relative;
    width: fit-content;
    &::after{
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        @include Cycle("after");
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -10px;
        right: -10px;
        //@include Cycle("before");
    }
    &::after, &::before{
        border: 7px solid $LowDarkColor;
        border-radius: 100%;
    }
}

%SmallText{

}

%LightButton{
    border: 3px solid $HighDarkColor;
    border-radius: $radius;
    padding: 15px 30px;
    background-color: $LowDarkColor;
    font-weight: 600;
    color: $HighDarkColor;
    text-transform: uppercase;
    transition: $TransitionTime;
    width: fit-content;
    height: 60px;
    font-size: x-large;
    &:hover{
        color: $LowDarkColor;
        background-color: $HighDarkColor;
    }
}

%DarkButton{
    border: 3px solid $LowDarkColor;
    border-radius: $radius;
    padding: 15px 30px;
    background-color: $HighDarkColor;
    font-weight: 600;
    color: $LowDarkColor;
    text-transform: uppercase;
    transition: $TransitionTime;
    width: fit-content;
    font-size: x-large;
    height: 60px;
    &:hover{
        color: $HighDarkColor;
        background-color: $LowDarkColor;
    }
}

%LinkFormat{

}

%Radius{

}

%Padding_Margin{

}

%Animation{

}
%input{
    font-size: large;
    border: none;
    height: 50px;
    border-bottom: 2px solid $HighDarkColor;
    width: 60%;
    margin: 80px 20%;
    &:focus{
        border: none;
    }
}

%inputSubmit{
    font-size: large;
    border: none;
    height: 50px;
    border-bottom: 2px solid $HighDarkColor;
    width: fit-content;
}

