$HighDarkColor: #0D1B2A;
$AvgDarkColor: #1B263B;
$MidDarkColor: #415A77;
$LowDarkColor: #778DA9;
$NoneDarkColor: #E0E1DD;
$TransitionTime: 1s;
$radius:5px;
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
@mixin CycleAfter(){
    @keyframes CycleLoopAfter{
        0%{
            top: -15px;
            left: -15px;
            border-color: $HighDarkColor;
        }
        20%{
            top: -15px;
            left: 50%;
            border-color: $AvgDarkColor;
        }
        40%{
            top: -15px;
            left: 100%;
            border-color: $MidDarkColor;
        }
        60%{
            top: -15px;
            left: 50%;
            border-color: $LowDarkColor;
        }
        80%{
            top: -15px;
            left: -15px;
            border-color: $NoneDarkColor;
        }
        90%{
            top: 50%px;
            left: -15px;
            border-color: $MidDarkColor;
        }
        100%{
            top: 100%;
            left: -15px;
            border-color: $HighDarkColor;
        }
    }
    animation-name: CycleLoopAfter;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@mixin CycleBefore(){
    @keyframes CycleLoopBefore{
        0%{
            bottom: -15px;
            right: -15px;
            border-color: $HighDarkColor;
        }
        20%{
            bottom: -15px;
            right: 50%;
            border-color: $AvgDarkColor;
        }
        40%{
            bottom: -15px;
            right: 100%;
            border-color: $MidDarkColor;
        }
        60%{
            bottom: -15px;
            right: 50%;
            border-color: $LowDarkColor;
        }
        80%{
            bottom: -15px;
            right: -15px;
            border-color: $NoneDarkColor;
        }
        90%{
            bottom: 50%;
            right: -15px;
            border-color: $MidDarkColor;
        }
        100%{
            bottom: 100%;
            right: -15px;
            border-color: $HighDarkColor;
        }
    }
    animation-name: CycleLoopBefore;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

%Title{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: $LowDarkColor;
    position: relative;
    width: fit-content;
    &::after{
        content: "";
        position: absolute;
        @include CycleAfter();
    }
    &::before{
        content: "";
        position: absolute;
        @include CycleBefore();
    }
    &::after, &::before{
        border: 7px solid $LowDarkColor;
        border-radius: 100%;
    }
}

%SmallText{

}

%LightButton{
    border: 3px solid $HighDarkColor;
    border-radius: $radius;
    padding: 15px 30px;
    background-color: $LowDarkColor;
    font-weight: 600;
    color: $HighDarkColor;
    text-transform: uppercase;
    transition: $TransitionTime;
    width: fit-content;
    //height: 60px;
    font-size: x-large;
    &:hover{
        color: $LowDarkColor;
        background-color: $HighDarkColor;
    }
}

%DarkButton{
    border: 3px solid $LowDarkColor;
    border-radius: $radius;
    padding: 15px 30px;
    background-color: $HighDarkColor;
    font-weight: 600;
    color: $LowDarkColor;
    text-transform: uppercase;
    transition: $TransitionTime;
    width: fit-content;
    font-size: x-large;
    //height: 60px;
    &:hover{
        color: $HighDarkColor;
        background-color: $LowDarkColor;
    }
}

%LinkFormat{

}

%Radius{

}

%Padding_Margin{

}

%Animation{

}
%input{
    font-size: large;
    border: none;
    height: 50px;
    border-bottom: 2px solid $HighDarkColor;
    width: 60%;
    margin: 80px 20%;
    &:focus{
        border: none;
    }
}

%inputSubmit{
    font-size: large;
    border: none;
    height: 50px;
    border-bottom: 2px solid $HighDarkColor;
    width: fit-content;
}

